<div class="resumes-list">
  <mat-card>
    <mat-card-header><h2>CVs</h2> </mat-card-header>
    <mat-card-content>
      <ng-container *ngIf="resumes$ | async as resumes">
        <cv-mate-resume-item
          *ngFor="let resume of resumes"
          [resume]="resume"></cv-mate-resume-item>
      </ng-container>
    </mat-card-content>
    <mat-card-actions>
      <div class="cvListActions">
        <button mat-mini-fab color="primary" matTooltip="Add new cv">
          <mat-icon>add_box</mat-icon>
        </button>
        <button mat-mini-fab color="primary" matTooltip="Import cv">
          <mat-icon>upload_file</mat-icon>
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
