<div class="resumes-list">
  <mat-card>
    <mat-card-header><h2>CVs</h2> </mat-card-header>
    <mat-card-content>
      <div class="cv">
        <div>My very first cv</div>
        <div class="menu">
          <div>
            <span class="fi fi-us"></span>
          </div>
          <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
          <button mat-menu-item>
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
          <button mat-menu-item>
            <mat-icon>content_copy</mat-icon>
            <span>Duplicate</span>
          </button>
          <button mat-menu-item>
            <mat-icon>download</mat-icon>
            <span>Export</span>
          </button>
        </mat-menu>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button color="primary">
        <mat-icon>add_box</mat-icon>
      </button>
      <button mat-icon-button color="primary">
        <mat-icon>upload_file</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
