<div class="resumes-list">
  <mat-card>
    <mat-card-header><h2>CVs</h2> </mat-card-header>
    <mat-card-content>
      <div class="cv" *ngFor="let record of [1, 2, 3]">
        <div>My very first cv {{ record }}</div>
        <div class="menu">
          <div>
            <span class="fi fi-us"></span>
          </div>
          <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="cvListActions">
        <button mat-mini-fab color="primary" matTooltip="Add new cv">
          <mat-icon>add_box</mat-icon>
        </button>
        <button mat-mini-fab color="primary" matTooltip="Import cv">
          <mat-icon>upload_file</mat-icon>
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>edit</mat-icon>
    <span>{{ 'cvMenu.edit' | transloco }}</span>
  </button>
  <button mat-menu-item>
    <mat-icon>delete</mat-icon>
    <span>{{ 'cvMenu.delete' | transloco }}</span>
  </button>
  <button mat-menu-item>
    <mat-icon>content_copy</mat-icon>
    <span>{{ 'cvMenu.copy' | transloco }}</span>
  </button>
  <button mat-menu-item>
    <mat-icon>download</mat-icon>
    <span>{{ 'cvMenu.export' | transloco }}</span>
  </button>
  <button mat-menu-item>
    <mat-icon>picture_as_pdf</mat-icon>
    <span>{{ 'cvMenu.downloadPDF' | transloco }}</span>
  </button>
</mat-menu>
