@use '@angular/material' as mat;
@import url('/node_modules/flag-icons/css/flag-icons.min.css');

:root {
  $primary-palette: mat.define-palette(mat.$deep-purple-palette);
  $primary: mat.get-color-from-palette($primary-palette, 500);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
