@use '@angular/material' as mat;
@import url('/node_modules/flag-icons/css/flag-icons.min.css');

:root {
  $primary-palette: mat.define-palette(mat.$deep-purple-palette);
  $primary: mat.get-color-from-palette($primary-palette, 500);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

cv-mate-language-picker {
  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: transparent;
  }
  .mat-mdc-select-value,
  .mat-mdc-select-placeholder {
    color: white;
  }
  .mdc-text-field,
  .mat-mdc-select-placeholder {
    border-bottom: none;
  }
  .mat-mdc-select,
  .mat-mdc-option,
  .mat-mdc-select-panel {
    font-size: 0.9rem;
  }
}
